[Unit]
Description         = webhookgo

[Service]
Туре                = exec
User                = root
WorkingDirectory    = /root/linkdown/hook
ExecStart           = /root/linkdown/hook/webhookgo

Restart             = always
RestartSec          = 5s

[Install]
WantedBy=multi-user.target